ci:
  autoupdate_branch: "main"
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.264'
    hooks:
      - id: ruff
        files:  |
            (?x)^(
                components/.*|
                src/.*|
                tests/.*|
            )$
        args: [
          "--target-version=py38",
          "--fix",
          "--exit-non-zero-on-fix",
        ]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        name: bandit
        types: [python]
        files: |
            (?x)^(
                components/.*|
                src/.*|
                examples/.*|
                tests/.*|
            )$
        args: ["-f", "custom", "-q", "-c", "pyproject.toml", "-r"]
        additional_dependencies: [".[toml]"]

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        name: black
        files:  |
            (?x)^(
                components/.*|
                src/.*|
                examples/.*|
                tests/.*|
            )$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        args: ["--ignore-missing-imports", "src"]
        additional_dependencies:
          - types-jsonschema
          - types-PyYAML
          - types-requests
          - types-retry
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate_component_readmes
        name: Generate component READMEs
        language: python
        entry: python scripts/component_readme/generate_readme.py
        files: ^components/.*/fondant_component.yaml
        additional_dependencies: ["fondant@git+https://github.com/ml6team/fondant@main", "Jinja2==3.1.2"]