site_name: Fondant
site_url: https://fondant.ai/en/latest
repo_url: https://github.com/ml6team/fondant
repo_name: ml6team/fondant
theme:
  name: material
  favicon: art/fondant_logo_single_letter.svg
  logo: art/fondant_logo_single_letter.svg
  palette:
    # Palette toggle for light mode
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: orange
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  custom_dir: docs/overrides
  features:
    - content.code.copy
    - content.tabs.link
    - navigation.tracking
    - navigation.footer
    - navigation.tabs
    - announce.dismiss

extra_css:
  - stylesheets/extra.css
nav:
  - Documentation:
      - Home: index.md
      - Using the documentation: documentation_guide.md
      - Getting Started:
          - Installation: guides/installation.md
          - Running your first pipeline: guides/first_pipeline.md
          - Building your own pipeline: guides/build_a_simple_pipeline.md
          - Implementing custom components: guides/implement_custom_components.md
      - Pipeline: pipeline.md
      - Components:
          - Components: components/components.md
          - Python components: components/custom_python_component.md
          - Containerized components: components/custom_containerized_component.md
          - Component spec: components/component_spec.md
          - Publishing components: components/publishing_components.md
      - Runners:
          - Local: runners/local.md
          - Vertex: runners/vertex.md
          - Kubeflow: runners/kfp.md
          - SageMaker: runners/sagemaker.md
      - Explorer: data_explorer.md
      - Advanced:
          - Architecture: architecture.md
          - Caching: caching.md
          - Handling partitions: partitions.md
          - Setting up Kubeflow: runners/kfp_infrastructure.md
  - Hub: components/hub.md
  - Blog:
      - blog/index.md

plugins:
  - mkdocstrings
  - search
  - blog:
      archive_date_format: yyyy/MM
      archive_url_date_format: yyyy/MM
      archive_url_format: "{date}"
      post_excerpt: required
  - redirects:
      redirect_maps:
        'announcements/CC_25M_community.md': 'blog/posts/2023-09-27|CC_25M_community.md'
        'announcements/CC_25M_press_release.md': 'blog/CC_25M_press_release.md'

markdown_extensions:
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - admonition
  - def_list
  - toc:
      permalink: "#"