site_name: Fondant
repo_url: https://github.com/ml6team/fondant
repo_name: ml6team/fondant
theme:
  name: material
  favicon: art/fondant_logo_single_letter.svg
  logo: art/fondant_logo_single_letter.svg
  palette:
    # Palette toggle for light mode
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: orange
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - navigation.tracking
nav:
  - Home: index.md
  - Getting Started: getting_started.md
  - Contributing: contributing.md
  - Guides:
    - Build a simple pipeline: guides/build_a_simple_pipeline.md
    - Implement custom components: guides/implement_custom_components.md
  - Building a pipeline: pipeline.md
  - Components:
    - Components: components.md
    - Creating custom components: custom_component.md
    - Read / write components: generic_component.md
    - Component spec: component_spec.md
  - Data explorer: data_explorer.md
  - Infrastructure: infrastructure.md
  - Manifest: manifest.md

plugins:
  - mkdocstrings

markdown_extensions:
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - admonition
  - def_list