{
    "name": "ProxylessNASNets",
    "bn": {
        "momentum": 0.1,
        "eps": 0.001
    },
    "first_conv": {
        "name": "ConvLayer",
        "kernel_size": 3,
        "stride": 2,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "in_channels": 3,
        "out_channels": 64,
        "use_bn": true,
        "act_func": "relu",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "stage1": [
        {
            "name": "RepConvLayer",
            "in_channels": 64,
            "out_channels": 64,
            "kernel_size": [3, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 64,
            "out_channels": 64,
            "kernel_size": [3, 3],
            "stride": 2,
            "dilation": 1,
            "groups": 1
        }
    ],
    "stage2": [
        {
            "name": "RepConvLayer",
            "in_channels": 64,
            "out_channels": 128,
            "kernel_size": [3, 3],
            "stride": 2,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 128,
            "out_channels": 128,
            "kernel_size": [1, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 128,
            "out_channels": 128,
            "kernel_size": [3, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 128,
            "out_channels": 128,
            "kernel_size": [3, 1],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 128,
            "out_channels": 128,
            "kernel_size": [3, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 128,
            "out_channels": 128,
            "kernel_size": [3, 1],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 128,
            "out_channels": 128,
            "kernel_size": [1, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 128,
            "out_channels": 128,
            "kernel_size": [3, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        }
    ],
    "stage3": [
        {
            "name": "RepConvLayer",
            "in_channels": 128,
            "out_channels": 256,
            "kernel_size": [3, 3],
            "stride": 2,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 256,
            "out_channels": 256,
            "kernel_size": [3, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 256,
            "out_channels": 256,
            "kernel_size": [1, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 256,
            "out_channels": 256,
            "kernel_size": [3, 1],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 256,
            "out_channels": 256,
            "kernel_size": [3, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 256,
            "out_channels": 256,
            "kernel_size": [1, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 256,
            "out_channels": 256,
            "kernel_size": [3, 1],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 256,
            "out_channels": 256,
            "kernel_size": [3, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        }
    ],
    "stage4": [
        {
            "name": "RepConvLayer",
            "in_channels": 256,
            "out_channels": 512,
            "kernel_size": [3, 3],
            "stride": 2,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 512,
            "out_channels": 512,
            "kernel_size": [3, 1],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 512,
            "out_channels": 512,
            "kernel_size": [1, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 512,
            "out_channels": 512,
            "kernel_size": [1, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        {
            "name": "RepConvLayer",
            "in_channels": 512,
            "out_channels": 512,
            "kernel_size": [3, 1],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        }
    ],
    "head": {
        "name": "Head",
        "conv": {
            "name": "RepConvLayer",
            "in_channels": 512,
            "out_channels": 128,
            "kernel_size": [3, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        "final": {
            "name": "ConvLayer",
            "kernel_size": 1,
            "stride": 1,
            "dilation": 1,
            "groups": 1,
            "bias": false,
            "has_shuffle": false,
            "in_channels": 128,
            "out_channels": 5,
            "use_bn": false,
            "act_func": null,
            "dropout_rate": 0,
            "ops_order": "weight"
        }
    },
    "neck": {
        "name": "Neck",
        "reduce_layer1": {
            "name": "RepConvLayer",
            "in_channels": 64,
            "out_channels": 128,
            "kernel_size": [3, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        "reduce_layer2": {
            "name": "RepConvLayer",
            "in_channels": 128,
            "out_channels": 128,
            "kernel_size": [3, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        "reduce_layer3": {
            "name": "RepConvLayer",
            "in_channels": 256,
            "out_channels": 128,
            "kernel_size": [3, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        },
        "reduce_layer4": {
            "name": "RepConvLayer",
            "in_channels": 512,
            "out_channels": 128,
            "kernel_size": [3, 3],
            "stride": 1,
            "dilation": 1,
            "groups": 1
        }
    }
}